<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		 <link rel="stylesheet" href="css/amazeui.min.css" />
		  <link rel="stylesheet" href="css/admin.css" />
	</head>
	<body>
		
		<div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf">
          <strong class="am-text-primary am-text-lg">楼宇管理</strong>
        </div>
      </div>

      <hr>

      <ul class="am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-margin gallery-list">
        <li th:each="hostel:${hostels}">
          <a href="#">
            <img class="am-img-thumbnail am-img-bdrs" src="images/hostel.jpg" alt="">
            <div class="gallery-title">
              <p th:text="${hostel.getName()}+'        管理员：'+${hostel.getAdministrator()}"></p>
              <p th:text="'最大人数：'+${hostel.getMaxpeople()}"></p>
              <p th:text="'已住人数：'+${hostel.getExistedpeople()}"></p>
            </div>
          </a>
        </li>
      </ul>

    
    </div>
	</body>
</html>
